#progressBar{
    border-radius: 2px;
    color:rgb(0, 0, 0);
    font-size: 14px;
}
#tuto{
    background: rgb(255, 234, 45);
    font-size: 12px;
    font-family: DejaVu Sans;
    font-weight: bold;
}

#tutoHypotheses{
    background: rgb(255, 234, 45);
    font-size: 12px;
    font-weight: bold;
}

#tutoCases{
    background: rgb(255, 234, 45);
    font-size: 16px;
    font-weight: bold;
}

#tuto2{
    background: rgb(255, 234, 45);    
    font-family: DejaVu Sans;
    font-size: 12px;
}

#tuto3{
    background: rgb(255, 234, 45);    
}

#bloc_magic{
    background: rgb(234, 0, 255);
    font-size: 16px;
    border-width: 2px;
    border-color: blueviolet;
}
#yellow_case{
    background: rgb(255, 234, 45);
    font-size: 16px;
    font-weight: bold;
}
#orange_case{
    background: rgb(216, 101, 7);
    font-size: 12px;
    font-weight: bold;
}
#orange_pave{
    background: rgb(216, 101, 7);
    font-weight: bold;
}
#white_pave{
    background: rgb(245, 245, 245);
    font-weight: bold;
   }
#white_case{
 background: rgb(245, 245, 245);
}
#bloc_info{
    background: rgb(245, 245, 245);
    color :black;
    font-weight: bold;
    font-size: 12px;
}
#white_case_rep{
    background: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: bold;
}
#white_case_hyp{
    background: rgb(245, 245, 245);
    font-size: 12px;
    font-weight: bold;
}
#grey_case{
    background: rgb(90, 88, 88);
}
#green_case{
    background: rgb(0, 250, 0);
    font-size: 16px;
    font-weight: bold;
}
#red_case{
    background: rgb(250, 0, 0);
    font-size: 16px;
    font-weight: bold;
}
#blue_case{
    background: rgb(31, 123, 160);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#verif_grille{
    background:rgb(0, 250, 0);
    font-family: DejaVu Sans;
    font-size: 12px;
}

#aff_bloc{
    background:rgb(185, 16, 109);
    color: white;
    font-family: DejaVu Sans;
    font-size: 12px;
}

#aff_pair{
    background:rgb(204, 86, 17);
    color: white;
    font-family: DejaVu Sans;
    font-size: 12px;
}

#aff_inter{
    background:rgb(5, 143, 197);
    color: rgb(255, 254, 254);
    font-family: DejaVu Sans;
    font-size: 12px;
}
#aff_depassementSomme{
    background:rgb(197, 136, 5);
    color: rgb(255, 254, 254);
    font-family: DejaVu Sans;
    font-size: 12px;
}
#aff_depassementSommeActif{
    background:rgb(255, 218, 139);
    color: rgb(0, 0, 0);
    font-family: DejaVu Sans;
    font-size: 12px;
}

#green_btn {
    background: rgb(0, 250, 0);
    font-weight: bold;
}

#intersection_case{
    background:rgb(5, 143, 197);
    font-size: 12px;
    color: white;
    font-weight: bold;
}

#pair_case{
    background:rgb(204, 86, 17);
    font-size: 12px;
    color: white;
    font-weight: bold;
}